<div class="container">
  <h3>I'm in the AppComponent!</h3>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-servers></app-servers>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>

      <button class="btn btn-primary" (click)="toggleShowSecretPassword()">
        Display Details
      </button>
      <p *ngIf="showSecretPassword">Secret Password = tuna</p>

      <ul>
        <li
          *ngFor="let log of logButtonClicks; let i = index"
          [ngStyle]="{ backgroundColor: i >= 4 ? 'blue' : 'transparent' }"
          [ngClass]="{ 'color-white': i >= 4 }"
        >
          {{ log }}
        </li>
      </ul>
    </div>
  </div>
</div>
